#contact-big-text {
    font-size: 48px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 70px;
}
#contact-input {
    border: none;
    font-size: 16px;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    border-bottom: 1px solid #43434d;
    border-radius: 0;
    color: #000000;
    padding-left: 10px;
    outline: none;
    transition: 0.4s;
}
#contact-input:focus {
    border: 1px solid blue;
    border-radius: 10px;
}
.name-div {
    display: flex;
    flex-direction: column;
    width: 46%;
}
.contact-left-div {
    width: 46%;
}
.f-l-name {
    display: flex;
    width: 100%;
    gap: 55px;
}
.contact-email {
    display: flex;
    flex-direction: column;
}
.contact-left-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-textarea {
    display: flex;
    flex-direction: column;
}
#textarea {
    border: none;
    font-size: 16px;
    height: 130px;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
    border-bottom: 1px solid #43434d;
    border-radius: 0;
    color: #000000;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
    transition: 0.4s;
}
#textarea:focus {
    border: 1px solid blue;
    border-radius: 10px;
}
.contact-btn {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    border: none;
    background-color: #939393;
    transition: 0.5s;
    cursor: pointer;
}
.contact-btn:hover {
    color: #fff;
    background-image: linear-gradient(to right, rgb(87, 126, 223), rgb(174, 189, 233));
}
#info-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}
#info-title {
    font-size: 15px;
    color: #666666;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}
.contact-info-div {
    display: flex;
    align-items: center;
    padding: 32px 50px;
    height: 170px;
    box-sizing: border-box;
    gap: 40px;
    background-image: linear-gradient(to right, rgb(87, 126, 223), rgb(174, 189, 233));
}
.contact-icon {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 30px;
}
.contact-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 80px;
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
    #contact-big-text {
        font-size: 38px;
    }
}

@media screen and (max-width: 900px) {
    .contact-main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .contact-right {
        width: 80%;
    }
    .contact-info-div {
        padding: 15px 25px;
    }
    .contact-left-div {
        width: 80%;
    }
    .f-l-name {
        gap: 30px;
    }
}
@media screen and (max-width: 767px) and (min-width: 300px) {
    #contact-big-text {
        font-size: 35px;
    }
}
